:root {
  --primary-color: rgb(139, 122, 161);
  --body-color: #202020;
  --back-cell: rgba(201, 204, 213, 0.8);
  --field-color: #292929;
  --front-color: #373737;
  --flag-color: #616161;
  --flag-color-1: #303030;
  --border-color: #4d4d4d;
  --text-1-color: #939393;
  --color-1: #56afd3;
  --color-2: #f7f992;
  --color-3: #59c565;
  --color-4: #6cccbc;
  --color-5: #e07cd8;
  --color-6: #1e32e7;
  --color-7: #313131;
}
